/files/docker_persistent_data/*
!/files/docker_persistent_data/.gitkeep
/files/fonts/*
.DS_Store
infra/hosts
infra/host_vars/
mountsraspi
.fact_cache
infra/.fact_cache
infra/.vault_pass
infra/hosts.ci
