networks:
  app:
    driver: macvlan
    driver_opts:
      parent: app
    ipam:
      config:
        - subnet: {{ app_cidr }}
  proxy:
    driver: bridge

services:
  traefik:
    image: traefik:v3.2
    container_name: traefik
    restart: always
    ports:
      - "80:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - "{{ docker_dir }}/traefik:/etc/traefik/dynamic:ro"
    networks:
      - proxy
    command:
      - --providers.file.directory=/etc/traefik/dynamic
      - --entrypoints.web.address=:80

  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    network_mode: host
    restart: always
    volumes:
      - "{{ docker_dir }}/homeassistant:/config"
    environment:
      - TZ={{ timezone }}
